$light-color: #eeeeee;
$dark-color: #222222;
$accent-color: #14b042;
$white: #ffffff;

* {
    box-sizing: border-box;
}

/* Allgemein */
.site,
#page {
	margin: 0;
	padding: 0;
	max-width: 100vw;
}

.page h1 {
	font-size: 2rem;
	font-weight: 600;
	padding-top: 20px;
	text-transform: uppercase;
	text-align: center;
}
@media (max-width:480px) {
	.page h1 {
	font-size: 1.5rem !important;
		padding-top: 20px;
	}
}

.site-content {
	min-height: 90vh;
	padding-top: 90px;
	width: 100vw;
}

.ast-builder-grid-row,
.ast-container {
	/*max-width: 1080px !important;*/
	max-width: 1272px !important;
}

a {
    text-decoration: none;
    color: #000;
}

/* Startseite: Slider */
.n2-ss-slider {
	position: relative; 
	top: 0px;
}

@media (max-width:480px) {
	/* Startseite: Slider */
	.n2-ss-slider {
	top: 45px;
	height: 250px;
}
	.ast-header-break-point .ast-below-header-bar {
		background-color: #fff;
	}
}
@media (min-width:480px) and (max-width:920px) {
	/* Startseite: Slider */
	.n2-ss-slider {
	 top: 45px;
  }
}

/* Startseite Teaser-Bilder */
figcaption {
	text-align: center;
}
figcaption a {
	font-size: 1.3em;
	font-weight: 600;
	text-decoration: none !important;
	text-transform: uppercase;
	letter-spacing: 0.6px;
}
@media (max-width:480px) {
	figcaption a {
		font-size: 1.1em;
		letter-spacing: 0.1px;
	}
}
@media (min-width:480px) and (max-width:920px) {
	figcaption a {
		font-size: 1.2em;
		letter-spacing: 0.1px;
	}
}

.is-style-rounded {
	padding: 10px;
}

.wp-block-gallery {
	padding-bottom: 50px;
}

/* Startseite  */
.teaser-container {
	display: grid;
	grid-template-columns : 1fr 1fr 1fr;
	justify-content: center;
	padding-bottom: 100px;
}

.teaser-item {
	padding: 10px;
}

.teaser-item img {
	border-radius: 50%;
	object-fit: cover;
	padding: 20px;
}

@media (max-width:480px) {
	.teaser-container {
		grid-template-columns : 1fr;
		padding: 10px;
	}
}
@media (min-width: 481px) and (max-width: 700px)  {
	.teaser-container {
		grid-template-columns : 1fr 1fr;
	}
}

.highlight-container {
	background-color: #eeeeee;
	display: grid;
	grid-template-columns : 1fr 1fr;
	margin-bottom: 50px !important;
}

.highlight-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.1em;
	font-weight: 500;
	letter-spacing: 0.1px;
}

.highlight-item p {
	padding: 0px 30px 0px 30px;
}

.highlight-item h3 {
	color: #14b042;
	font-weight: 600;
	text-transform: uppercase;
	padding-top: 20px;
}

@media (max-width:700px) {
	.highlight-container {
		grid-template-columns: 1fr;
		font-size: 0.9em;
		line-height: 1.7;
		max-width: 450px;
		margin: 50px auto;
	}
	.highlight-item p {
	letter-spacing: 0.5px;
	}
}

.welcome {
	text-align: center;
	padding: 40px 0px 20px 0px;
	margin: 0 !important;
	font-weight: 600;
}

@media (max-width:480px) {
	.welcome {
		font-size: 1.3em !important;
		padding: 80px 0px 0px 0px;
	}
	#ast-mobile-header {
		padding-top: 0px;
	}
}
@media (min-width:480px) and (max-width:920px) {
	.welcome {
		padding: 80px 0px 10px 0px;
	}
}

@media (max-width:480px) {
	.ast-above-header.ast-above-header-bar {
		padding-top: 10px;
	}
	/* Startseite */
	#post-140 .entry-title {
		margin: 0px;
	}
}

#post-7, /* Warenkorb */
#post-8 /* Kasse */
{
	margin-top: 0;
	padding-top: 0;
	min-height: 80vh;
}

/* Kasse */
#order_review_heading
{
	display: none !important;
}

/* Kasse */
.woocommerce-checkout-review-order-table {
	padding: 10px;
}

/* Startseite */
.page-id-140 .site-content {
	padding-top: 0;
}

.icon-arrow {
	display: none;
}

/* Produkt-Übersicht: Mwst */
.wc-gzd-additional-info {
	font-size: 11px !important;
	color: #666666;
	font-style: italic;
}

/* Produkt-Übersicht: Versand */
.shipping-costs-info a {
	color: #666666;

}

.shipping-costs-info a:hover {
	color: #14b042;
}

.products .wc-gzd-additional-info {
	margin: 0;	
}

/* Produkt-Übersicht: Preis */
.astra-shop-summary-wrap .amount
{
	font-size: 1.3em;
	font-size: 16px;
}

/* Produkt-Übersicht: Titel */
.woocommerce-loop-product__title {
	font-weight: 800;
}

/* Produkt-Übersicht: Warenkorb-Button */
.woocommerce a.button {
	font-size: 70%;
}

/* Produkt-Übersicht + Produktseite: Rabatt-Button */
.woocommerce span.onsale {
	font-weight: 600;
}

.orderby {
	border: none;
} 

/* Rechtliche Seiten & Information */
.post-131, /* Impressum */
.post-132, /*AGB*/
.post-133, /* Widerruf */ 
.post-134, /* Versand */ 
.post-135, /* Zahlungsarten */ 
.post-265, /* Datenschutz */
.post-277, /*FAQ*/
.post-279, /* Über uns */ 
.post-287, /* Bestellvorgang */
.post-293 /* Retouren */ {
	max-width: 600px;
	margin: 0 auto;
	padding: 0px 0 50px 0;
	font-size: 1rem;
}

.post-131 h2, /* Impressum */
.post-132 h2, /*AGB*/
.post-133 h2, /* Widerruf */ 
.post-134 h2, /* Versand */ 
.post-135 h2, /* Zahlungsarten */ 
.post-265 h2, /* Datenschutz */
.post-277 h2, /*FAQ*/
.post-279 h2, /* Über uns */ 
.post-287 h2, /* Bestellvorgang */
.post-293 h2 /* Retouren */ {
	font-size: 1.5rem;
	color: #14b042;
}
@media (max-width:480px) {
	/*FAQ*/
	.post-277 h2 {
		font-size: 1.3rem;
		padding-top: 30px;
	}
}

.post-131 h3, /* Impressum */
.post-131 h4,
.post-132 h3, /*AGB*/ 
.post-132 h4,
.post-133 h3, /* Widerruf */ 
.post-133 h4,
.post-134 h3, /* Versand */ 
.post-134 h4,
.post-135 h3,  /* Zahlungsarten */ 
.post-135 h4,
.post-265 h3, /* Datenschutz */
.post-265 h4,
.post-277 h3, /*FAQ*/
.post-277 h4,
.post-279 h3, /* Über uns */  
.post-279 h4,
.post-287 h3,  /* Bestellvorgang */
.post-287 h4,
.post-293 h3, /* Retouren */
.post-293 h4 {
	font-size: 1rem;
	color: #14b042;
}

/* Produkt-Übersicht: Warenkorb-Button*/
.site-primary-footer-wrap li {
	list-style: none;
}

/* Footer */
.site-primary-footer-wrap {
	padding: 45px;
}

/* ---- ??? ---- */
.wp-image-23 {
	padding: 0 45px 25px 0;
	width: 100%;
}

/* Blog */
.post {
	max-width: 760px;
	margin: 0 auto;
}

/* Blog Vorschaubild */
.post-thumb {
	margin-right: 20px;
}

.ast-row .wp-post-image {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	object-fit: cover;
}

@media (max-width:480px) {
	.post-thumb {
		float: none;
		display: flex;
		margin: 0 auto;
	}
}

.entry-meta {
	display: none;
}

.ast-row .ast-grid-common-col {
	padding: 10px 0 0 0;
}

.ast-row .entry-header,
.ast-row .entry-content {
	width: 50%; 
	float: left;
} 

@media (max-width:480px) {
	.ast-row .entry-header,
	.ast-row .entry-content {
		width: 100%; 
		padding: 10px;
	}
}
.ast-row .entry-content {
	clear: none;
}

@media (max-width:480px) {
	.ast-row .entry-content {
		clear: both;
	}
}

.single-layout-1 {
	padding-top: 50px;
	min-height: 100vh;
}

.ast-article-single .post-thumb{
	display: none;
}

/* Startseite */
#post-140 {
	padding: 0;
}

/* Produktseite Beschreibung */
.woocommerce-Tabs-panel--description  {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5em;
}

/* Produktseite Beschreibung grid */
.product-grid-item {
	padding: 10px;
}

/* Produktseite Upsells */
.upsells
 {
	max-width: 100vw;
	background-color: #eeeeee;
	padding: 30px 30px 0px 30px;
}
@media (max-width:544px) {
	/* zu breit */
	.upsells .columns-4,
	.related .columns-4	{
		 display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
}
}

.upsells .astra-shop-summary-wrap .button
{
	display: none;
}

.upsells p {
	display: none;
}
// .woocommerce-page ul.products li.product {
	// margin-bottom: ; /*alle Produkte!*/
// }

/* Produktseite ähnliche Produkte */
.related {
	border-top: 1px solid #eeeeee;
	padding-top: 10px;
}

/* Produktseite: alle Kategorien */
.posted_in  {
	display: none !important;
}

/* Produktseite: Bildbeschreibung Zoom */
.pswp__caption__center {
	color: #ffffff;
	font-size: 1.2em;
	font-weight: 600;
	max-width: 100vw;
	padding: 10px 10px 20px 10px;
}

/* Produktseite: Vorschaubilder verkleinern */
@media (min-width:544px) {
		.woocommerce div.product div.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
		clear: unset !important;
	}
		.woocommerce div.product div.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
		width: unset;
	}
}


/* Footer */
/* nötig, weil in mobiler Ansicht auf manchen Geräten die Breite nicht stimmt */
footer div {
	margin: 0 !important;
}

footer .ast-builder-grid-row {
	margin: 0 auto!important;
}

.footer-custom {
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr;
    justify-content: space-between;
	margin: 0 auto;
	font-size: 0.95em;
	padding: 30px 0px 20px 0px;
}

.footer-custom ul {
	margin: 0;
}

.footer-custom h3 {
	font-size: 1em;
	font-weight: 600;
	letter-spacing: 0.6px;
	padding: 30px 0px 10px 0px;
	text-transform: uppercase;
}

.footer-b {
	padding: 10px;
}

.footer-b p{
	padding: 0px;
	margin: 0;
}

@media (max-width:921px) {
	.footer-custom {
		grid-template-columns: 1fr;
		max-width: 100vw;
		padding: 30px 0px 10px 20px;
	}
	.footer-b {
		max-width: 100vw;
		padding: 10px 30px 10px 30px;
		font-size: 1em;
	}
	.footer-custom h3 {
		padding: 10px 0px 10px 0px;
}
}
@media (min-width:480px) and (max-width:920px) {
	.footer-custom {
		grid-template-columns: 1fr 1fr;
	}
}
.footer-custom li {
    list-style: none;
}

/*----- Produkt-Seite ------*/
.woocommerce div.product {
	padding-top: 50px;
}

.payment-page .consumer-section {
    display: none !important;
}

/* Header */
#ast-desktop-header,
#ast-mobile-header {
	position: fixed;
	/*width: 100%;*/
	width: 100vw;
}
 
.main-header-menu .menu-link {
	padding: 0 0.69em;
	letter-spacing: 0.5px;
}

.menu-link {
	font-size: 0.9em !important; /* bricht um in 2 Zeilen in Desktopansicht*/
}

/* Infoseiten: "Bedrucken" */
.bedrucken-text {
	max-width: 600px;
	margin: 0 auto;
}

.bedrucken-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	grid-gap: 1em;
}

/* Sub-Menu */
/*.main-header-menu .sub-menu {
	width: 100vw;
}
.main-header-menu .menu-item {
	position: relative;
}
.main-header-menu .menu-item:hover>.sub-menu {
    right: auto;
    left: -100%;
	width: 500px;
}*/
/*
.main-header-menu .sub-menu .menu-item.focus .sub-menu, .main-header-menu .sub-menu .menu-item:hover .sub-menu {
	  left: 0;
    top: 100%;
    right: auto;
}

.main-header-menu .menu-item .sub-menu {
	display: flex;
	flex-direction: row;
	min-width: 500px;
	background-color: pink !important;
}
/*
#menu-item-70 ul,
#menu-item-893 ul {
	display: flex;
	flex-direction: column;
}
*/
@media (max-width: 921px) {
	ul .sub-menu {
		display: unset !important;
	}
	.sub-menu a {
		font-weight: 300 !important;
	}
	.ast-mobile-header-wrap .ast-mobile-header-content {
		/*max-width: 80vw !important;*/
		margin: 0 auto;
		background-color: transparent;
	}
	.ast-builder-menu-mobile .main-navigation .main-header-menu .menu-item > .menu-link {
		font-weight: 700;
		text-transform: uppercase;
		color: #fff;
	}
	.ast-header-break-point .ast-nav-menu .sub-menu {
    line-height: 2.5;
		background-color: transparent;
}
	.ast-arrow-svg {
		display: none;
		visibility: hidden;
	}
	.ast-header-break-point .main-header-menu {
		background-color: #222222;
		opacity: 0.9;
		padding-bottom: 20px;
	}
}
@media (max-width: 480px) {
	.ast-header-break-point .ast-nav-menu .sub-menu {
    line-height: 2;
		font-size: 0.95em;
}
	.main-navigation ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-content: start !important;
	}
	.menu-link a {
		margin-bottom: 0;
		padding-bottom: 0;
	}
.main-header-menu .menu-link {
    padding: 0 0; 
    letter-spacing: 0px; 
 }
	.main-navigation ul li {
		display: flex;
		align-self: flex-start;
	}
	
}